.app-body {
	padding-top: 5px;
	padding-left: 2%;
	padding-right: 2%;
}

body {
	background-color: rgb(222, 220, 225);
}

 div.forgot-box {
	float: left;
}

div.main-action-box {
	float: right;
	align-content: right;
} 

.btn {
	margin: 3px;
}

.login {
    float: right;
    display:inline-block;
}

.psw {
	padding-left: 5px;
}
